table {
    width: 100%;
}

.action{
    padding-left: 15px;
}

.edit{
    margin-right: 10px;
}

.edit > i, .delete > i{
    background-color: #7b1fa2;
    color: #fff;
    padding: 3px;
    border-radius: 5px;
}
